<p>Add a new account </p>

<form>
    <label for="fid">Account ID</label><br>
    <input type="text" id="fid" name="fid"><br>

    <label>Choose an account type:</label><br>
    <select name="account" id="account">
        <option value="investment">Investment</option>
        <option value="cash">Cash</option>
    </select>
    <br/>
        <!-- <label for="fvalue">Value</label><br>
    <input type="number" id="fname" name="fname"><br> -->
    <button >Add</button>

    <h3>Investment Accounts</h3>
    <select>
      <option *ngFor="let item of investmentAccounts"> {{item.accountNumber}}</option>
    </select>
    <button (click) = 'retrieveBasicInvestmentData()'>Go</button>
    <h3>Cash Accounts</h3>
    <select>
      <option *ngFor="let item of cashAccounts"> {{item.accountNumber}}</option>
    </select>
    <button (click) = 'retrieveBasicCashData()'>Go</button>
    <aside>
        <div>Display Account information here</div>
        <!-- <p>Account Number: {{account_number}}</p>
        <p>Account Type: {{account_type}}</p>
        <p>Account Value: {{account_value}}</p> -->
      </aside>

  </form>