.fontp{
    font-family:'Playfair Display', serif;
    font-weight: bolder;
    font-size: 1.5rem;
    text-align: center;
    
}
.subp{
    font-family:'Playfair Display', serif;
    font-weight: bolder;
    font-size: 1.5rem;
    text-align: justify;
    padding-left: 6px;
}
.form-space{
    padding-left: 20px;
}
label{
padding-left: 20px;
}
.divbtn{
    padding-top: 5px;
    padding-left: 30px;
}
.alignselect{
    display: table-cell;
    width: 20%;
    margin-left: 150px;
}
.ng-align{
    margin-left: 150px;
}
h4{
margin-left: 150px;
padding-top: 20px;
font-family: Arial, Helvetica, sans-serif;
}
p.alignselect {
    padding-left: 150px;
}
.p-align-sub{
    margin-left: 150px;
}
p {
    margin-left: 150px;
}

.h5, h5 {
    font-size: 1.25rem;
    margin-left: 150px;
}
.label-align {
    padding-left: 150px;
}
.btn-align{
    margin-left: 150px;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-left: 20px;
}
.new-acct-align{
    display: flex;
}
.new-acct-align{
    display: block;
    text-align: center;
    font-family:'Playfair Display', serif;
    
    

    margin-left: 972px;
    margin-top: -152px;
    padding-top: -144px;
    /* padding-bottom: 126px; */
    /* align-content: center; */
    /* justify-content: space-evenly; */
    /* align-items: flex-end; */
}
.new-label-align{
    font-family: Arial, Helvetica, sans-serif;
}
hr{
    margin: 0 auto;
    width: 80%;
    margin-top: 40px;
 
}
label.alignselect {
    padding-left: 153px;
}
.new-btn-align{
margin-left: 150px;
margin-top:20px;
}
.p-label-align{
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 111px;
}
