  <!-- <label for="fvalue">Value</label><br>
 <input type="number" id="fname" name="fname"><br> -->

    <p class="fontp">Manage Accounts</p>
    <p class="alignselect subp">Investment Accounts</p>

    <select class="alignselect" [(ngModel)]='investment_account_obj.account_number ' name='account_number'>
      <option value="" selected >Choose here</option>
      <option *ngFor="let item of investmentAccounts"> {{item.accountNumber}}</option>
    </select>
    <button (click) = 'retrieveBasicInvestmentData()'>Go</button>

    <ng-container class="ng-align" *ngIf="showInvestmentAccountData">
        <aside>
            <h4>Investment account information</h4>
            <p class="alignselect">Account Number: {{account_number_display}}</p>
            <!-- <p>Account Type: {{account_type}}</p> -->
            <p class="p-align-sub">Account Value: {{investment_account_obj.account_value}}</p> 
            <select class="alignselect"[(ngModel)] = "investments_list" name="investments_list" id="investments_list">
                <option value="" selected >Choose here</option>
                <option *ngFor="let option of investmentList">{{option.ticker}}</option>
            </select>
            <button (click) = showInvestmentData()>View position</button>
            <ng-container *ngIf="showInvestmentsInAccount">
               <p> Ticker: {{investments_data.ticker}} </p>
               <p> Amount held: {{investments_data.amount}} </p>
               <p> Current price {{investments_data.current_price}} </p>
            </ng-container>
        </aside>

        <aside>
            <h5>Purchase Investment</h5>
            <label class="label-align" for="investment_purchase_cash_account">Enter Cash Account</label>
            <input [(ngModel)] = investment_purchase_cash_account type="text" id="investment_purchase_cash_account" name="investment_purchase_cash_account"><br>

            <label class="label-align" for="investment_purchase_ticker">Enter Investment Ticker</label>
            <input [(ngModel)] = investment_purchase_ticker type="text" id="investment_purchase_ticker" name="investment_purchase_ticker"><br>

            <label class="label-align" for="investment_purchase_amount">Enter Amount</label>
            <input [(ngModel)] = investment_purchase_amount type="text" id="investment_purchase_amount" name="investment_purchase_amount"><br>

            <button class="btn-align" (click) = purchaseInvestment()>Submit</button>
        </aside>

        <aside>
            <h5>Sell Investment</h5>
            <label class="label-align" for="investment_sale_cash_account">Enter Cash Account</label>
            <input [(ngModel)] = investment_sale_cash_account type="text" id="investment_sale_cash_account" name="investment_sale_cash_account"><br>

            <label class="label-align" for="investment_sale_ticker">Enter Investment Ticker</label>
            <input [(ngModel)] = investment_sale_ticker type="text" id="investment_sale_ticker" name="investment_sale_ticker"><br>

            <label class="label-align" for="investment_sale_amount">Enter Amount</label>
            <input [(ngModel)] = investment_sale_amount type="text" id="investment_sale_amount" name="investment_sale_amount"><br>

            <button  class="btn-align" (click) = sellInvestment()>Submit</button>
        </aside>

    </ng-container>


    <p class="subp">Cash Accounts</p>
    <select class="alignselect" [(ngModel)]='cash_account_obj.account_number' name='account_number'>
        <option value="" selected >Choose here</option>
      <option *ngFor="let item of cashAccounts"> {{item.accountNumber}}</option>
    </select>
    <button (click) = 'retrieveBasicCashData()'>Go</button>

    <ng-container *ngIf="showCashAccountData">
        <aside>
            <h4>Cash account information</h4>
            <p class="alignselect">Account Number: {{account_number_display}}</p>
            <!-- <p>Account Type: {{account_type}}</p> -->
            <p class="p-align-sub">Account Value: {{cash_account_obj.account_value}}</p> 
        </aside>

        <aside>
            <h5>Deposit Funds</h5>

            <label class="label-align"for="cash_deposit_amount">Enter Deposit Amount</label>
            <input [(ngModel)] = cash_deposit_amount type="text" id="cash_deposit_amount" name="cash_deposit_amount"><br>

            <button class="btn-align"(click) = depositCash() type="submit">Submit</button>
          
          </aside>

        <aside>
            <h5>Withdraw Funds</h5>

            <label class="label-align" for="cash_withdrawal_amount">Enter Withdrawal Amount</label>
            <input [(ngModel)] = cash_withdrawal_amount type="text" id="cash_withdrawal_amount" name="cash_withdrawal_amount"><br>

            <button class="btn-align" (click) = withdrawCash()>Submit</button>
        </aside>
    </ng-container>

    <div class="new-acct-align">
      <h3>Add new account</h3>
      <label for="fid" class="new-label-align">Account Number</label><br>
      <input [(ngModel)] = new_account_number class="new-label-align" type="text" id="new_account_number" name="new_account_number"><br>
  
      <label class="new-label-align">Choose an account type:</label><br>
      <select class="new-label-align" [(ngModel)] = new_account_type name="new_account_type" id="new_account_type">
          <option value="" selected >Choose here</option>
          <option value="investment">Investment</option>
          <option value="cash">Cash</option>
      </select>
      <button class="new-label-align" (click) = createNewAccount()>Submit</button>
      <ng-container *ngIf="showNewAccountData">
          <p class="p-label-align">Your new account number: {{new_account_number_display}}</p>
          <p class="p-label-align">Your new account type: {{new_account_type_display}}</p>
      </ng-container>
    </div>
    
    <!-- <p>{{new_account_type}}</p>
    <p>{{new_account_number}}</p> -->
      <hr/>
    <p class="subp">Delete Account</p>
    <label class="alignselect" for="fid">Account Number</label><br>
    <input class="alignselect"  [(ngModel)] = delete_account_number type="text" id="delete_account_number" name="delete_account_number"><br>

    <button class="new-btn-align"(click) = deleteStart()>Delete</button>
    <ng-container *ngIf="warnAccountDelete">
        <p>Are you sure you want to delete this account?</p>
        <button class="new-btn-align"(click) = deleteYes()>Yes</button>
        <button class="new-btn-align"(click) = deleteNo()>No</button>
    </ng-container>

    <ng-container class="alignselect" *ngIf="showDeleteAccountMessage">
        <p>Account {{delete_account_number}} has been deleted</p>
    </ng-container>
    <!-- <p>{{new_account_type}}</p>
    <p>{{new_account_number}}</p> -->

  