<div class="container divtop">
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#D4F1F4;">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav">
          <a class="nav-link" aria-current="page" routerLink='/cash-flow'>Cash Flow</a>
          <a class="nav-link" routerLink='/market-movers'>Market Movers</a>
          <a class="nav-link" routerLink='/insights'>Insights</a>
          <a class="nav-link" routerLink='/manageaccount'>Manage Accounts</a>
        </div>
      </div>
    </div>
  </nav>
</div>
    <p class="text-center fontp">Portfolio Manager</p>
    <hr/>
<!--Adding the time-->
    <!-- <div class="row">
        <div class="col-md-3">  -->
        <p>{{today | date:"full"}}</p>
        <!-- </div>
    </div> -->
    
    <div class="flex-container">
        <div class=" card" style="width: 20rem; padding: 2px;">
            <div class="card-body">
                <h5 class="card-title">Net Worth</h5>
                <p class="cardp">{{netvalue}}</p>
            </div>
        </div>
        <div class=" card" style="width: 20rem; padding: 2px;">
            <div class="card-body">
                <h5 class="card-title">Total Cash Value</h5>
                <p class="cardp">{{totalcashvalue}}</p>
            </div>
            </div>
            <div class=" card" style="width: 20rem; padding: 2px;">
                <div class="card-body">
                    <h5 class="card-title">Total Investment Value</h5>
                    <p class="cardp">{{totalinvestmentvalue}}</p>
                </div>
      </div>
      </div>
    <br/>

    <!-- here we can bind to the daa models -->
    <!-- the | is 'pipe' in this case for date -->
    <!-- the {{}} are called interpolation binding -->
    <!-- ask the user to agree to cookies -->
    <!-- the () are one-way event binding OUT of the component -->
    <!-- structural directives AWLAYS start with an asterisk * -->
  
    <!-- or... -->
    <!-- Turns out we don't even need a <form> tag! -->
      <!-- <input placeholder='Facebook image' required [(ngModel)]='fbImage' />
      <br/>
      <img src='https://graph.facebook.com/{{fbImage}}/picture?type=normal'> -->
  
    <hr/>
    <!-- here is where routed content will appear it is mutually exclusive content-->
    <router-outlet></router-outlet>
